@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Bellota:wght@300;400;700&family=Monoton&family=Montserrat:wght@200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Bebas Neue", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: whitesmoke;
}
h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5rem;
  color: lightgrey;
  width: 100%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.loader img {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}
.image_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  margin: 3rem;
}
/* .image_container .img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 1rem;
  margin: 0 auto;
} */

/* Media quaries  */
@media screen and (min-width: 1000px) {
  .image_container img {
    width: 60rem;
  }
}
@media screen and (max-width: 1000px) {
  .image_container img {
    width: 60rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .image_container img {
    width: 50rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 541px) {
  .image_container img {
    width: 48rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 440px) {
  .image_container img {
    width: 45rem;
    overflow: hidden;
  }
  h1 {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 394px) {
  .image_container img {
    width: 40rem;
    overflow: hidden;
  }
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 338px) {
  .image_container img {
    width: 30rem;
    overflow: hidden;
  }
}
